# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
android/app/build/intermediates/runtime_symbol_list/debug/R.txt
android/app/build/intermediates/res/merged/debug/drawable-mdpi_assets_usa.png.flat
android/app/build/intermediates/res/merged/debug/drawable-mdpi_assets_spain.png.flat
android/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
android/app/build/intermediates/merged_assets/debug/out/index.android.bundle
android/app/build/intermediates/merged_assets/debug/mergeDebugAssets/out/index.android.bundle
android/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh/values-zh.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xxhdpi-v4/values-xxhdpi-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xhdpi-v4/values-xhdpi-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-watch-v21/values-watch-v21.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-watch-v20/values-watch-v20.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-w600dp-land-v13/values-w600dp-land-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-w480dp-port-v13/values-w480dp-port-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-w360dp-port-v13/values-w360dp-port-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-w320dp-land-v13/values-w320dp-land-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v28/values-v28.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v26/values-v26.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/values-v25.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/values-v24.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/values-v23.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/values-v22.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/values-v18.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v17/values-v17.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/values-v16.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr-rTR/values-tr-rTR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv-rSE/values-sv-rSE.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-small-v4/values-small-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl-rSI/values-sl-rSI.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk-rSK/values-sk-rSK.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru-rRU/values-ru-rRU.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro-rRO/values-ro-rRO.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-port/values-port.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl-rPL/values-pl-rPL.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-or/values-or.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nn-rNO/values-nn-rNO.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nn/values-nn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl-rNL/values-nl-rNL.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb-rNO/values-nb-rNO.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mt/values-mt.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mdpi-v4/values-mdpi-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv-rLV/values-lv-rLV.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt-rLT/values-lt-rLT.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldrtl-v17/values-ldrtl-v17.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldpi-v4/values-ldpi-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-land/values-land.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko-rKR/values-ko-rKR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it-rIT/values-it-rIT.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-id/values-id.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h550dp-port-v13/values-h550dp-port-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h480dp-land-v13/values-h480dp-land-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h360dp-land-v13/values-h360dp-land-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h320dp-port-v13/values-h320dp-port-v13.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rFR/values-fr-rFR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fil/values-fil.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et-rEE/values-et-rEE.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rES/values-es-rES.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rSG/values-en-rSG.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en/values-en.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el-rGR/values-el-rGR.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de-rDE/values-de-rDE.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs-rCZ/values-cs-rCZ.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca-rES/values-ca-rES.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+es+419/values-b+es+419.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-as/values-as.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
android/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
android/app/build/intermediates/dex/debug/mergeProjectDexDebug/classes2.dex
android/app/build/intermediates/dex/debug/mergeProjectDexDebug/classes.dex
android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
android/app/build/intermediates/blame/res/debug/single/debug.json
android/app/build/intermediates/assets/debug/index.android.bundle
android/app/build/generated/res/react/debug/drawable-mdpi/assets_usa.png
android/app/build/generated/res/react/debug/drawable-mdpi/assets_spain.png
android/app/build/generated/assets/react/debug/index.android.bundle
android/.gradle/checksums/checksums.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/6.5/javaCompile/taskHistory.bin
android/.gradle/6.5/javaCompile/javaCompile.lock
android/.gradle/6.5/javaCompile/jarAnalysis.bin
android/.gradle/6.5/javaCompile/classAnalysis.bin
android/.gradle/6.5/fileHashes/resourceHashesCache.bin
android/.gradle/6.5/fileHashes/fileHashes.lock
android/.gradle/6.5/fileHashes/fileHashes.bin
android/.gradle/6.5/executionHistory/executionHistory.lock
android/.gradle/6.5/executionHistory/executionHistory.bin
